:root {
  color-scheme: light dark;
  color: $color-2;
  background-color: $color-1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}